.advantages__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #302B42;
    padding: 1rem 0;
}

.advantage__item {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 0.5rem;
}

.advantage__item>i {
    font-size: clamp(1.5rem, 1vw, 2rem);
}

.advantages__text {
    font-size: clamp(0.7rem, 1vw, 1.5rem);
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
}

@media (max-width: 880px) {
    .advantages__text {
        font-size: 0;
        margin: 0;
    }
}