.product__item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1.1fr;
    /* gap: 10px; */
    place-items: center;
    background: #fff;
    box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    border-radius: 2px;
    position: relative;
    margin-bottom: 2rem;
}

.top {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.top:nth-child(1) {
    padding: 0;
}

.cent {
    height: 56px;
}

.border {
    border-right: 2px solid rgb(0 0 0 / 40%);
    border-left: 2px solid rgb(0 0 0 / 40%);
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}

.close>button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #302B42;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.close>button:hover {
    color: #302B42;
    background-color: #E87E7E;
}

.count__qty {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.count__select {
    width: 50px;
    display: flex;
    align-items: center;
    color: #302B42;
    padding: 0.5rem 0;
    font-size: 1rem;
    border: 2px solid #CECECE;
    outline: none;
}


.product__name {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
}

.old-price__s {
    font-size: 1rem;
}

@media (max-width: 690px) {
    .product__item {
        grid-template-columns: none;
        grid-template-rows: 3fr 1fr 1fr 1fr;
        width: 100%;
        max-width: 500px;
    }

    .border {
        border-right: none;
        border-left: none;
        border-top: 2px solid rgb(0 0 0 / 40%);
        border-bottom: 2px solid rgb(0 0 0 / 40%);
    }
}