.footer {
    background: url("footer-bg.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: auto;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem 0 2rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 1rem;
}

.footer__header {
    height: 70px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.footer__logo {
    width: 150px;
    height: 70px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer__text {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.footer__text span {
    color: #C2C2C2;
    text-transform: lowercase;
}

.footer__link {
    color: #C2C2C2;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer__link:hover {
    color: #fff;
    text-decoration: underline;
    transition: .1s;
}

.footer__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.links__wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.links__adaptive {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social__media {
    display: flex;
    padding: 1rem 0;
}

.footer__icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 .5rem;
}

.footer__icon:first-child {
    margin: 0;
}

.footer__icon:hover {
    background-color: #C2C2C2;
    transition: all .1s ease-out;
}

.footer__icon i {
    font-size: 1.7rem;
}

.footer__privacy {
    font-size: 0.9rem;
    font-weight: 500;
    color: #C2C2C2;
    text-align: center;
    padding-bottom: .5rem;

}

@media (max-width: 990px) {
    .links__adaptive {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer__header {
        justify-content: center;
    }

    .footer__item:last-child {
        align-items: center;
        width: 100%;
        margin: 0;
    }
}