.navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 2rem;
    position: relative;
    z-index: 99;
}

.navbar__links,
.search__form {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.navbar__links li:last-child {
    margin-left: 3rem;
}

.search__form>li:first-child {
    padding-left: 0;
}

.search__input {
    font-family: inherit;
    font-size: clamp(1rem, 1vw, 1.5rem);
    max-width: 100%;
    width: 350px;
    color: #302B42;
    background-color: #CECECE;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px 45px 10px 10px;
}

/* @media (max-width:600px) {
    .input {
        width: 100%;
    }
}

@media (max-width:990px) {
    .search__input {
        width: 350px;
    }
} */
/* ___ */

.navbar__help {
    color: #939292;
    font-weight: 500;
    margin-left: 1.5rem;
}

.navbar__help:hover {
    color: #302B42;
}

.cart__link {
    color: #302B42;
    /* height: 45px; */
    border-radius: 8px;
    /* padding: 0 1rem; */
    transition: .3s;
    position: relative;
}

.cart__link:hover {
    color: #939292;
}

.badge {
    color: #302B42;

}

.badge:hover {
    color: #939292;
    transition: all .3s;

}

.badge:hover .cartlogo__badge {
    color: #fff;
    background-color: #302B42;
    transition: all .2s;
}

.fa-shopping-cart {
    font-size: 2rem;
}

.cartlogo__badge {
    position: absolute;
    top: -10px;
    left: 15px;
    /* color: #fff; */
    background-color: #E87E7E;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #302B42;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 5px;
    transition: all .2s ease-in;

}


/* hamburger */
#menuToggle {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#menuToggle input {
    display: flex;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide input */
    z-index: 1;
    /* top of the menu */
}

#menuToggle span {
    width: 55px;
    height: 8px;
    margin-bottom: 10px;
    background: #7f8fa6;
    border-radius: 4px;
    -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -moz-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -ms-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
    transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
    transform-origin: 4px 0px;
}

#span3 {
    transform-origin: bottom right;
}

#menuToggle input:checked~#span1 {
    background-color: #0c2461;
    transform: rotate(45deg) translate(8px);
}

#menuToggle input:checked~#span2 {
    background-color: #0c2461;
    transform: rotate(495deg) translate(4px);
}

#menuToggle input:checked~#span3 {
    background-color: #0c2461;
    transform: rotate(45deg);
    opacity: 0;
}

/*  */
.hamburger__menu {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.hamburger__menu>div {
    width: 100%;
    height: 3px;
    background: #000;
    transition: .3s;
}

.hamburger__menu:hover>div {
    background: #E87E7E;
}

@media (min-width: 1700px) {
    .navbar__inner {
        justify-content: space-around;
    }

    .search__input {
        width: 500px;
    }
}

@media (max-width: 890px) {

    .navbar__links,
    .search__form {
        display: none;
    }

    .hamburger__menu {
        display: flex;
    }
}

@media (max-width: 490px) {
    .navbar__logo {
        width: 100px;
        height: 50px;
    }
}