.header {
    width: 100%;
    height: 90px;
    background-color: #fff;
    z-index: 50;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.navbar__links,
.search {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.navbar__links>li {
    padding-left: 1.5rem;
}

.search>li {
    padding-left: 1.5rem;
}

.navbar__links>li:first-child {
    padding-left: 0;
}

.search>li:first-child {
    padding-left: 0;
}

.search__input {
    color: #000;
    font-size: 1rem;
    background-color: #CECECE;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 8px 40px 8px 10px;
    max-width: 100%;
    /* width: 400px; */
}

.search__btn {
    color: #939292;
    font-size: 1.1rem;
    background-color: #CECECE;
    border: none;
    cursor: pointer;
    margin-left: -30px;
}

.navbar__helped {
    color: #939292;
    font-weight: 500;
}

.cartlogo__badge {
    /* position: absolute;
    top: -5px;
    left: 30px; */
    background-color: #fff;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #302B42;
    margin-left: 5px;
}

.fa-shopping-cart {
    font-size: 2rem;
}

.cart__link {
    background-color: #ccc;
    height: 45px;
    border-radius: 8px;
    padding: 5px 15px;
    transition: .5s;
}

.cart__link:hover {
    background-color: #979797;
}





/* ham menu */
.hamburger__menu {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.hamburger__menu>div {
    width: 100%;
    height: 3px;
    background: #000;
    transition: .3s;
}

.hamburger__menu:hover>div {
    background: #E87E7E;
}

@media (max-width: 890px) {

    .navbar__links,
    .search {
        display: none;
    }

    .hamburger__menu {
        display: flex;
    }
}