.header {
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.navbar__links,
.search {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.navbar__links>li {
    margin-left: 2.5rem;
}

.search>li {
    padding-left: 1.5rem;
}

.navbar__links>li:first-child {
    margin-left: 0;
}

.search>li:first-child {
    padding-left: 0;
}

.navbar__helped {
    color: #939292;
    font-weight: 500;
}

.navbar__helped:hover {
    color: #302B42;
}

.cart__link {
    color: #302B42;
    /* height: 45px; */
    border-radius: 8px;
    /* padding: 0 1rem; */
    transition: .3s;
    position: relative;
}

.cart__link:hover {
    color: #939292;
}

.cartlogo__badge {
    position: absolute;
    top: -10px;
    left: 15px;
    color: #fff;
    background-color: #E87E7E;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #302B42;
    font-size: 1rem;
    margin-left: 5px;
}

.fa-shopping-cart {
    font-size: 2rem;
}






/* ham menu */
.hamburger__menu {
    width: 30px;
    height: 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.hamburger__menu>div {
    width: 100%;
    height: 3px;
    background: #000;
    transition: .3s;
}

.hamburger__menu:hover>div {
    background: #E87E7E;
}

@media (max-width: 890px) {

    .navbar__links,
    .search {
        display: none;
    }

    .hamburger__menu {
        display: flex;
    }
}

@media (max-width: 490px) {
    .navbar__logo {
        width: 100px;
        height: 50px;
    }
}