.product {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__img {
    width: 100%;
    object-fit: contain;
}

.product__title {
    color: #302B42;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.product__price {
    color: #E87E7E;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.product__info {
    padding: 0.5rem;
    position: relative;
}

.product__img {}

.info__item {
    font-size: 2.5rem;
    display: block;
    position: absolute;
    bottom: 7px;
    right: 15px;
}