.product {
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    display: grid;
grid-auto-flow: row;
grid-template: 430px 1fr / minmax(300px, 1fr);
}

.adaptive__img {
    position: relative;

}

.product__text {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70px;
}

.product__info {
    height: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.product__img {
    max-height: 360px;
}

.info__item {
    display: flex;
    align-items: center;
    font-size: 2rem;
    transition: .3s;
}

.info__item:hover {
    color: #939292;
}