/* Feedback */
.feedback-in {
    width: Min(70%,1000px);
    margin: 0 auto;
    padding: 2rem 0;
}

.feedback__wrapper {
    display: flex;
    align-items: center;
    padding: 0 3rem;
}

.feedback__img {
    width: 200px;
    height: 200px;
}

.feedback__review {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    padding: 1rem;
}

.feedback__review span {
    display: inline-block;
    font-weight: 700;
    margin-top: 1rem;
}

/* Arrows */
.slick-prev,
.slick-next
{
    mask-repeat: no-repeat;
    mask-position: center;

    position: absolute;
    top: 50%;

    width: 45px;
    height: clamp(30px,10vw,75px);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    background-color: #302B42;
}

.slick-prev
{
    left: -45px;
    mask-image: url("assets/chevron-left-solid.svg");
}

.slick-next
{
    right: -45px;
    mask-image: url("assets/chevron-right-solid.svg");
}

.slick-prev:hover,
.slick-next:hover
{
    background-color:#939292;
}

/* Media Query */
@media (max-width: 990px) {
    .feedback__wrapper {
        padding: 0 1rem;
    }
}

@media (max-width: 775px) {
    .feedback__img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 660px) {
    .feedback__wrapper {
        flex-direction: column;
        padding: 0;
    }

    .feedback__review {
        padding: 1rem 0.5rem;
    }

    .feedback__img {
        width: 100px;
        height: 100px;
    }
}