.article {
    padding: 1rem;

    @media(max-width: 390px) {
        padding: 0;
    }
}

.inner {
    width: Min(70%, 1700px);
    margin: 0 auto;
    padding: 3rem 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 0 clamp(1rem, 3vw, 2rem);

    @media (max-width:790px) {
        flex-direction: column;
    }
}

.img {
    width: clamp(150px, 13vw, 300px);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: clamp(1rem, 1vw, 1.5rem);
    padding: 1rem;
    margin: 0;

    @media (max-width:790px) {
        padding: 1rem 0;
    }
}