.inner {
    height: 70vh;
    min-height: 300px;

    article {
        display: flex !important;
        justify-content: center;
        height: 100%;
        position: relative;
    }
}

.title {
    display: flex;
    align-items: center;
    font-size: clamp(2rem, 5vw, 8rem);
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    margin: 0;
    position: relative;
    left: -25%;
    z-index: 5;

    &.left {
        background-color: #f1f1f1;
        background: linear-gradient(to top, #f1f1f1, #cecece); // Not working in iOS;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);

        left: auto;
        right: -20%;
    }

    @media (max-width: 590px) {
        left: auto;
        right: auto !important;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.lines {
    display: inline-flex !important;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 2rem;

    li button {
        font-size: 0;
        width: 100px;
        height: 10px;
        background-color: #fff;
        border: 1px solid #302B42;
        border-radius: 5px;
        cursor: pointer;
        margin: 0.5rem;
        transition: 0.3s;

        &:hover {
            background-color: #E87E7E;
        }
    }
}