/* Feedback */
.feedback__title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    color: #302B42;
    text-align: center;
}

.feedback__contains {
    width: Min(75%, 1700px);
    margin: 0 auto;
    padding: 3rem 0;
}

.slider__wrapper {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.slider__img {
    width: clamp(150px, 13vw, 300px);
    height: auto;
}

.slider__text {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    font-size: clamp(1rem, 1vw, 1.5rem);
    font-weight: 400;
    font-style: italic;
    padding: 1rem;
}

.slider__text b {
    margin-top: 1rem;
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    mask-repeat: no-repeat;
    mask-position: center;

    width: 45px;
    height: clamp(30px, 10vw, 75px);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    color: transparent;
    background-color: #302B42;
    transition: .3s;
}

.slick-prev {
    left: -45px;
    mask-image: url("../../assets/chevron-left-solid.svg");
}

.slick-next {
    right: -45px;
    mask-image: url("../../assets/chevron-right-solid.svg");
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #939292;
}

/* Media Query */
@media (max-width: 790px) {
    .slider__wrapper {
        flex-direction: column;
        padding: 0 1rem;
    }

    .slider__text {
        padding: 1rem 0.5rem;
    }
}