.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;

    background: url("../../assets/footer-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 3rem 2rem 0;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0 1rem;
}

.footer__header {
    display: flex;
    align-items: flex-end;
    height: 70px;
    margin-bottom: 2rem;
}

.footer__logo {
    width: 150px;
    height: 70px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer__title {
    display: flex;
    flex-direction: column;
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #fff;
    text-transform: uppercase;
}

.footer__title i {
    font-weight: 400;
    color: #C2C2C2;
    text-transform: lowercase;
    margin-bottom: 1rem;
}

.footer__link {
    font-size: clamp(1rem, 1vw, 1.3rem);
    color: #C2C2C2;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: all .2s ease-in;
}

.footer__link:hover {
    color: #fff;
    text-decoration: underline;
}

.links__wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.links__media {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.footer__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 1rem;
    transition: all .2s ease-in;

}

.footer__icon:first-child {
    margin: 0;
}

.footer__icon:hover {
    background-color: #C2C2C2;
}

.footer__icon i {
    font-size: 1.5rem;
}

.footer__rights {
    font-size: clamp(0.7rem, 1vw, 1.2rem);
    font-weight: 500;
    width: 100%;
    color: #C2C2C2;
    text-align: center;
    padding: 2rem 0 1rem;
}

@media (max-width: 890px) {

    .links__wrapper,
    .footer__item {
        align-items: center;
    }
}

@media (max-width: 630px) {
    .footer__contacts {
        align-items: center;
        text-align: center;
    }
}