.inner {
    padding: 1rem 2rem 5rem;
}

.title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    &.size_s {
        font-size: clamp(1.3rem, 1vw, 3rem);
        margin-bottom: 1rem;
    }
}

.product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    gap: 2rem;

    @media(max-width: 937px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 690px) {
        grid-template-columns: 1fr;
    }

}

.categories {
    width: Min(100%, 350px);

    @media(min-width: 1990px) {
        width: 500px;
    }
}

.accordion {
    display: flex;
    flex-direction: column;
}

.cards {
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1rem;

    @media (max-width: 390px) {
        max-width: 100%;
    }

    @media (min-width: 1990px) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 370));
        gap: 1.5rem;
    }

    @media(max-width:624px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 370px;
    }
}