.homescreen__inner {
    padding: 1rem 0 5rem;
}

.homescreen__title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &.size_s {
        font-size: clamp(1.3rem, 1vw, 3rem);
    }
}

.homescreen__product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homescreen__categories {
    width: 100%;
    max-width: 350px;
    padding: 1rem;
}

.homescreen__accordion {
    display: flex;
    flex-direction: column;
}

.homescreen__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 300px));
    gap: 1.5rem;
    max-width: 85%;
    padding: 1rem;

    @media (max-width: 390px) {
        max-width: 100%;
    }
}