.inner {
    padding: 1rem clamp(1rem, 1vw, 2rem) 5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    gap: 2rem;
    margin-top: 2.5rem;

    @media(max-width: 937px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 690px) {
        grid-template-columns: 1fr;
    }
}

.categories {
    width: clamp(288px, 22vw, 450px);

    @media (max-width: 390px) {
        width: 100%;
    }
}

.subtitle {
    font-size: clamp(1.3rem, 1vw, 3rem);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.accordion {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    gap: clamp(1rem, 1vw, 1.5rem);
    width: 100%;

    @media(max-width:624px) {
        max-width: 370px;
    }

    @media (max-width: 390px) {
        max-width: 100%;
    }

    @media (min-width: 1990px) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 370px));
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        font-size: 1.5rem;
        border-radius: 100%;
        border: 3px dashed #302B42;
        animation-name: rotate;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes rotate {
        0% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(365deg) scale(1.2);
        }
    }
}