.inner {
    padding: 1rem clamp(1rem, 1vw, 2rem) 5rem;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    gap: 2rem;

    @media(max-width: 937px) {
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width: 690px) {
        grid-template-columns: 1fr;
    }

}

.categories {
    width: clamp(288px, 22vw, 450px);
}

.accordion {
    display: flex;
    flex-direction: column;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-content: center;
    gap: 1rem;
    width: 100%;

    @media (min-width: 1990px) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 370px));
        gap: 1.5rem;
    }

    @media(max-width:624px) {
        max-width: 370px;
    }

    @media (max-width: 390px) {
        max-width: 100%;
    }
}