.icon {
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: #E87E7E;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;

    &.icon-green {
        display: flex;
        background-color: #A0E87E;
    }

    &.icon-red {
        display: flex;
        background-color: #E87E7E;
    }
}

.description__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    max-width: 2000px;
    padding: 1rem 1rem 4rem;
    margin: 0 auto;
}

.productscreen__price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #E87E7E;
}

.grid__quantity {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.product__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    width: 50%;
    padding: 1rem;
    background: linear-gradient(221.87deg, #cecece 1%, #f1f1f1 128%);
    box-shadow: -8px 8px 16px 1px #cecece;
    border-top: 3px solid #cecece;
    border-right: 3px solid #cecece;

    @media(max-width: 890px) {
        width: clamp(80%, 85vw, 100%);
    }

    @media(max-width: 490px) {
        width: 100%;
    }
}

.inner__contains {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.productscreen__title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-transform: uppercase;
}

.product__article {
    font-size: 0.7rem;
    color: #302B42;

    strong {
        text-transform: uppercase;
        letter-spacing: 1px
    }
}

.boxies {
    display: flex;
    align-items: center;
    max-width: 600px;
    position: relative;
}

.block_img {
    position: relative;
    box-shadow: 8px 8px 16px 1px #cecece;
    border-top: 3px solid #cecece;
    border-left: 3px solid #cecece;

    width: clamp(400px, 45vw, 500px);

    height: clamp(370px, 120vw, 545px);

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: fill;
    }

    @media (max-width: 490px) {
        width: 100%;
    }
}

.productscreen__btn {
    width: 100%;
    max-width: 300px;
    background-color: #C4C4C4;
    color: #302B42;

    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #302B42;
    cursor: pointer;
    transition: .3s;
    padding: 0.5rem 0;

    &.color {
        background-color: #A0E87E;
    }

    &:hover {
        color: #C4C4C4;
        background-color: #302B42
    }
}


.description__product {
    color: #302B42;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.description__product>strong {
    display: block;
    text-transform: initial;
    letter-spacing: normal;
    margin-bottom: 0.5rem;
}

.product__count {
    display: flex;
    justify-content: space-between;
}

.count__inner {
    display: flex;
}

.btn__count {
    font-size: 2rem;
    color: #302B42;
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.btn__count:hover {
    color: #C4C4C4;
    background-color: #302B42;
}

.quantity__block {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
}

.count__select {
    box-shadow: 8px 8px 16px 1px #cecece;
    cursor: pointer;
    outline: none;
    background: #C4C4C4;
    border: 1px solid #302B42;
    padding: 0.5rem;
}

.select__product {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.count__qty {
    color: #302B42;
    font-weight: 700;
}

.count__value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #C4C4C4;
    width: 50px;
    height: 50px;
    border: 3px solid #302B42;
}

.unavailable {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    text-transform: uppercase;
    max-width: 300px;
    text-align: center;
}

.unavailable>button {
    color: #fff;
    background-color: black;
}

/* Reviews */
.review__client {
    border-top: 3px solid #302B42;
    border-bottom: 3px solid #302B42;
    padding: 2rem 3rem;
    margin-bottom: 1rem;
}

.client__name {
    display: inline-block;
    margin-bottom: 1rem;
}

.client__data {
    display: block;
    text-align: right;
}

.review__alert {
    color: #302B42;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.registration__link {
    display: inline-block;
    color: #E87E7E;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.registration__link:hover {
    color: purple;
    text-decoration: underline;
}

/* Media query */
@media (max-width: 890px) {
    .description__inner {
        flex-direction: column;
        align-items: center;
    }

    .description__inner .product__img_size-b {
        width: Min(100%, 500px);
    }
}

@media (max-width:550px) {
    .product__count {
        flex-direction: column;
    }

    .review__client {
        padding: 2rem 1rem;
    }
}