.slick-slider {
    height: 70vh;
    min-height: 300px;

    &.slick-list {
        height: 100%;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100%;
}

.slick-slide {
    position: relative;

    div {
        height: 100%;
    }
}

.slick-active {
    button {
        background-color: #E87E7E !important;
    }
}