.cartscreen__inner {
    padding: 2rem 0;
}

.order {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.order__right {
    height: auto;
    background-color: #A0E87E;
    box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    padding: 1rem;
}

.order__right .title {
    margin-bottom: 2rem;
}

.title__text {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.order__btn {
    height: 40px;
    font-size: 0.9rem;
    color: #fff;
    width: 100%;
    margin: 0 auto;
    background-color: #302B42;
    margin-top: 2rem;
}