.homescreen {
    height: 2000px;
}

.homescreen__intro {
    background: url("./background.jpg") no-repeat right;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.homescreen__title {
    color: #302B42;
    text-shadow: #fff 1px 0 0px, #fff 0 1px 0px, #fff -1px 0 0px, #fff 0 -1px 0px;
    /* font-size: 5rem; */
    font-size: clamp(2.5rem, 10vw, 5rem);
    font-weight: 800;
    text-transform: uppercase;
}

.advantages {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #302B42;
    padding: 1rem 0;
}

.advantages__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

@media (max-width: 1090px) {
    /* .advantages__inner {
    justify-content: center;
} */
}

.advantages__inner>li {
    margin-left: 1.5rem;
}

.advantages__inner>li:first-child {
    margin: 0;
}

.advantages__inner>li>i {
    font-size: 2rem;
    color: #fff;
}

.advantages__text {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    margin-left: 1rem;
}

.catalog {
    padding-top: 1.5rem;
}

.catalog__title {
    color: #302B42;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.catalog__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0 6rem;
}

.sidebar {
    width: 230px;
    max-width: 100%;
}

.sidebar__title {
    color: #302B42;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.sidebar__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 3px solid #CECECE;
    width: 100%;
    cursor: pointer;
    padding-bottom: 1rem;
}

.sidebar__item>i {
    color: #939292;
    font-size: 2rem;
}

.catalog__products {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 1090px) {
    .advantages__inner>li>i {
        font-size: 1rem;
    }

    .advantages__text {
        font-size: 0.7rem;
    }
}

@media (max-width: 775px) {

    .homescreen__intro {
        height: 77vh;
    }

    .homescreen__title {
        text-align: center;
    }

    .advantages__inner {
        justify-content: space-around;
    }

    .advantages__text {
        font-size: 0;
    }
}