.homescreen__header {
    display: flex;
    align-items: center;
    height: 70vh;
    max-height: 700px;
    min-height: 400px;

    background: url("./assets/background.jpg") no-repeat right;
    background-size: cover;
}

.homescreen__title {
    display: flex;
    flex-direction: column;
    font-size: clamp(2.5rem, 5vw, 9rem);
    font-weight: 900;
    color: #302B42;
    /* text-shadow: #fff 1px 0 0px, #fff 0 1px 0px, #fff -1px 0 0px, #fff 0 -1px 0px; */
    text-transform: uppercase;
    padding: 1rem;
}

.catalog__inner {
    padding: 1rem 0;
}

.catalog__title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    color: #302B42;
    text-align: center;
}

.catalog__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0 6rem;
}

.categories__title {
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.catalog__products {
    display: grid;
gap: 10px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 1250px) {
    /* .catalog__products {
        grid-template-columns: 1fr 1fr;
    } */
}

@media (max-width: 990px) {

    .homescreen__title {
        margin: 0 auto;
    }
}

@media (max-width: 690px) {
    /* .catalog__products {
    grid-template-columns: 1fr;
} */
}

@media (max-width: 775px) {

    /* Digest */
    .digest__description {
        margin-bottom: 3rem;
    }
}