.homescreen {
    height: 2000px;
}

.homescreen__intro {
    background: url("./background.jpg") no-repeat right;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
}

.homescreen__title {
    color: #302B42;
    text-shadow: #fff 1px 0 0px, #fff 0 1px 0px, #fff -1px 0 0px, #fff 0 -1px 0px;
    /* font-size: 5rem; */
    font-size: clamp(2.5rem, 10vw, 5rem);
    font-weight: 800;
    text-transform: uppercase;
}

.catalog {
    padding-top: 1.5rem;
}

.catalog__info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem 0 6rem;
}

.sidebar {
    width: 230px;
    max-width: 100%;
}

.sidebar__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 3rem;
}

.sidebar__item {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 3px solid #CECECE;
    width: 100%;
    cursor: pointer;
    padding-bottom: 1rem;
}

.sidebar__item>i {
    color: #939292;
    font-size: 2rem;
}

.catalog__products {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Feedback */

.feedback-in {
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 0;
}

.feedback__wrapper {
    display: flex;
    align-items: center;
    padding: 0 3rem;
}

.arrow {
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 80px;
    font-size: 5rem;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.arrow:hover {
    color: #302B42;
}

.feedback__img {
    width: 200px;
    height: 200px;
}

.feedback__review {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    padding: 1rem;
}

.feedback__review span {
    display: inline-block;
    font-weight: 700;
    margin-top: 1rem;
}

@media (max-width: 775px) {
    .homescreen__intro {
        height: 77vh;
    }

    .homescreen__title {
        text-align: center;
    }

    /* Feedback */
    .feedback__wrapper {
        padding: 0 1rem;
    }

    .arrow {
        font-size: 3rem;
    }

    .feedback__img {
        width: 150px;
        height: 150px;
    }

    /* Digest */
    .digest__description {
        margin-bottom: 3rem;
    }
}

@media (max-width: 550px) {

    /* Digest */
    .feedback__wrapper {
        flex-direction: column;
        padding: 0;
    }

    .arrow {
        font-size: 2rem;
    }

    .feedback__img {
        width: 100px;
        height: 100px;
    }
}