.item {
    border-bottom: 3px solid #CECECE;
    padding: 1rem 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.1rem, 1vw, 1.3rem);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.3s;

    &.active {
        width: 100%;
    }

    &:hover,
    &:focus-visible {
        color: #939292;

        .arrow {
            fill: #939292;
            transition: 0.3s;
        }
    }
}

.arrow {
    width: 30px;
    height: 30px;
    fill: #302B42;
    transition: transform 0.5s ease;
}

.rotate {
    transform: rotate(90deg);
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    overflow: hidden;
    padding-left: 2rem;
    margin-top: 0.5rem;
    transition: all 1s cubic-bezier(0, 1, 0, 1);
}

.subtitle {
    font-size: clamp(1rem, 1vw, 1.2rem);
    font-weight: 500;
    cursor: pointer;
    padding: 0.25rem 2rem 0.25rem 0;
    position: relative;
    transition: 0.2s;

    &::before {
        content: '\2014';
        position: absolute;
        margin-left: -1.5rem;
    }

    &:hover {
        color: #E87E7E;

        &::after {
            content: '-';
            mask-image: url('../../assets/long-arrow.svg');
            mask-repeat: no-repeat;
            font-size: 3rem;
            background: #E87E7E;
            margin-right: 1rem;
            position: absolute;
            right: 0;
        }
    }
}