.item {
    padding: 1rem 0;
    border-bottom: 3px solid #CECECE;
    width: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.1rem, 1vw, 1.5rem);

    padding: 0.5rem 0;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;

    &.active {
        width: 100%;
    }

    &:hover {
        color: #939292;

        .arrow_icon {
            fill: #939292;
            transition: 0.3s;
        }
    }
}

.arrow_icon {
    width: 30px;
    height: 30px;
    transition: transform 0.5s ease;
    fill: #302B42;
}

.rotate {
    transform: rotate(90deg);
}

.inner {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0;
    position: relative;
    gap: 0.5rem;

    max-height: 0;
    overflow: hidden;
    transition: all 1s cubic-bezier(0, 1, 0, 1);

    .show {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: auto;
        max-height: 9999px;
        transition: all 1s cubic-bezier(1, 0, 1, 0);
    }
}

.subtitle {
    font-size: clamp(1rem, 1vw, 1.5rem);
    text-transform: initial;
    cursor: pointer;
    transition: 0.2s;
    padding: 0.5rem 0;
    font-weight: 500;
    position: relative;
    padding-right: 2rem;

    &::before {
        content: '\2014';
        position: absolute;
        margin-left: -20px;
    }

    &:hover {
        color: #E87E7E;

        &::after {
            content: '-';
            mask-image: url('../../assets/long-arrow.svg');
            mask-repeat: no-repeat;
            background-color: #E87E7E;
            color: #E87E7E;
            margin-right: 1rem;
            font-size: 3rem;
            position: absolute;
            right: 0;
        }
    }
}