.product {
  width: 100%;
  display: grid;
  grid-template-columns: clamp(150px, 12vw, 250px) 2fr 1fr 1fr;
  grid-template-rows: clamp(200px, 15vw, 300px);
  place-items: center;
  background: linear-gradient(149deg, rgba(170, 170, 170, 1) 0%, rgba(206, 206, 206, 1) 48%, rgba(255, 255, 255, 1) 100%);
  border-radius: 2px;
  position: relative;
  border: 3px solid #939292;


  @media (max-width: 690px) {
    // max-width: 288px;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(250px, 300px) 1fr 0.5fr 0.5fr;
  }
}

.photo {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  border-right: 3px solid #939292;

  @media(max-width: 690px) {
    border-right: none;
    border-bottom: 3px solid #939292;
    // height: clamp(200px, 90vw, 320px); 
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  border-right: 3px solid #939292;

  @media(max-width: 690px) {
    border-right: none;
    border-bottom: 3px solid #939292;

  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5em;
  position: relative;


  &:nth-child(3) {
    align-items: flex-start;

    @media(max-width: 690px) {
      justify-content: flex-start;
    }
  }
}

.btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: block;
  z-index: 5;

  &:hover {
    .btn__color {
      transition: 0.2s;
      fill: #E87E7E;
    }
  }
}

.btn__svg {
  @media(max-width:690px) {
    background: #fff;
  }
}

.btn__color {
  fill: #302B42;
}

.height {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

// there is in productscreen
.article {
  text-align: left;
  font-size: 0.7rem;
  color: #302B42;

  strong {
    text-transform: uppercase;
  }
}

.quantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  p {
    color: #302B42;
    font-weight: 700;
  }
}

.select {
  box-shadow: 8px 8px 16px 1px #cecece;
  cursor: pointer;
  outline: none;
  background: #C4C4C4;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 1rem 0;
}

.price {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #E87E7E;
}