.inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 3px solid #302B42;
    border-bottom: 3px solid #302B42;
    padding: 2rem 3rem;

    @media (max-width:550px) {
        padding: 2rem 1rem;
    }
}

.link {
    display: inline-block;
    color: #E87E7E;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        color: purple;
        text-decoration: underline;
    }
}