.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: url("../../assets/digest.jpg") center/cover no-repeat;
    min-height: 400px;
    text-align: center;
    padding: 2rem;
}

// .webp .inner {
//     background: url("../../assets/digest.webp") center/cover no-repeat;
// }