.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: url('../../assets/digest.jpg') center/cover no-repeat;
    min-height: 400px;
    text-align: center;
    padding: 2rem;

    @supports (background: url('../../assets/digest.webp')) {
        background: url('../../assets/digest.webp') no-repeat center/cover;
    }
}

.description {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #fff;
    width: Min(100%, 800px);
    max-width: 1500px;

    @media (min-width: 1700px) {
        width: 100%;
    }
}

.input {
    font-family: inherit;
    font-size: clamp(1rem, 1vw, 1.5rem);
    width: clamp(256px, 25vw, 500px);
    color: #302B42;
    background: #fff;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3.5rem 0.5rem 1rem;

    &:focus {
        &::placeholder {
            color: #E87E7E;
        }
    }

    @media (max-width: 390px) {
        width: 100%;
    }
}

.btn__badge {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 1rem;
    position: absolute;
    right: 0;
    z-index: 9;

    svg {
        width: clamp(20px, 1vw, 30px);
        height: clamp(20px, 1vw, 30px);
        fill: #302B42;
        transition: 0.2s;
    }

    &:hover,
    &:focus-visible {
        svg {
            fill: #939292;
        }
    }
}