.slide-inner {
    width: Min(75%, 1700px);
    height: auto;
    margin: 0 auto;
    padding-top: 3rem;
}

.slider-item {
    display: flex;
    align-items: center;
    padding: 0 clamp(1rem, 3vw, 2rem);

    @media (max-width:790px) {
        flex-direction: column;
    }
}

.slider-img {
    width: clamp(150px, 13vw, 300px);
}

.slider-comment {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: clamp(1rem, 1vw, 1.5rem);
    font-style: italic;
    text-transform: inherit;
    padding: 1rem;
    margin: 0;

    strong {
        margin-top: 1rem;
    }

    @media (max-width:790px) {
        padding: 1rem 0;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    mask-repeat: no-repeat;
    mask-position: center;

    width: 45px;
    height: clamp(30px, 10vw, 75px);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;
    color: transparent;
    background-color: #302B42;
    transition: .3s;

    &:hover {
        background-color: #939292;
    }
}

.slick-prev {
    left: -45px;
    mask-image: url("../../assets/chevron-left-solid.svg");
}

.slick-next {
    right: -45px;
    mask-image: url("../../assets/chevron-right-solid.svg");
}