.inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    background-color: #171717;
    background: url("../../assets/footer.jpg") center/cover no-repeat;
    padding: 2rem 2rem 1rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    // @media (max-width: 890px) {
    //     align-items: center;
    // }
}

.header,
.header__logo {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 70px;
}

.header {
    @media(max-width: 727px) {
        justify-content: center;
    }
}

.header__logo {
    @media(max-width: 523px) {
        justify-content: center;
    }
}

// .logo {
    //     width: clamp(120px, 7vw, 150px);
    //     height: clamp(60px, 3vw, 70px);
    // }

.contacts {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;

    @media (max-width: 523px) {
        align-items: center;
        text-align: center;
    }
}

.title {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 0.8rem;
    font-style: initial;
    color: #fff;
    text-transform: uppercase;

    em {
        font-size: 0.7rem;
        font-weight: 400;
        color: #C2C2C2;
        text-transform: lowercase;

        @media(min-width: 1990px) {
            font-size: 0.9rem;
        }

        @media(max-width: 390px) {
            font-size: 0.9rem;
        }
    }

    a {
        font-size: 0.7rem;
        font-weight: 400;
        color: #C2C2C2;
        font-style: italic;
        text-transform: initial;
        transition: 0.2s;

        &:hover {
            color: #939292;
        }

        @media(min-width: 1990px) {
            font-size: 0.9rem;
        }

        @media(max-width: 390px) {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 523px) {
        align-items: center;
    }

    @media(max-width: 390px) {
        font-size: 1.1rem;
    }

    @media(min-width: 1990px) {
        font-size: 1.1rem;
    }
}

.link {
    font-size: 0.7rem;
    font-style: initial;
    color: #C2C2C2;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        color: #fff;
        text-decoration: underline;
    }

    @media(min-width: 1990px) {
        font-size: 1rem;
    }

    @media(max-width: 390px) {
        font-size: 1rem;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;

    @media (max-width: 727px) {
        align-items: center;
    }
}

.media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.2s;

    svg {
        width: 20px;
        height: 20px;
        fill: #302B42;

        @media(min-width: 1990px) {
            width: 30px;
            height: 30px;
        }
    }

    &:hover {
        background-color: #C2C2C2;
    }

    @media(min-width: 1990px) {
        width: 50px;
        height: 50px;
    }
}

.rights {
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    color: #C2C2C2;

    @media(min-width: 1990px) {
        font-size: 1rem;
    }
}