.slick-slider {
    height: 70vh;
    min-height: 300px;

    &.slick-list {
        height: 100%;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    height: 100%;
}

.slick-slide {
    position: relative;

    div {
        height: 100%;

        .intro-item {
            height: 100%;
        }
    }
}

.intro-img {
    width: 100%;
    height: 100%;
}

.intro-item {
    display: flex !important;
    justify-content: center;
}

.intro__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem;
    max-width: clamp(300px, 38vw, 700px);
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;

    &.left {
        color: #fff;
        max-width: clamp(300px, 50vw, 700px);
        left: initial;
        right: 0;

        @media (max-width: 690px) {
            right: initial;
        }
    }

    @media (max-width: 690px) {
        left: initial;
    }
}

.intro-position {
    justify-content: flex-end !important;

    @media (max-width: 690px) {
        justify-content: center !important;
    }
}

// .intro__title {
//     color: #302B42;
//     display: flex;
//     flex-direction: column;
//     max-width: clamp(300px, 55vw, 600px);
//     font-size: clamp(2rem, 5vw, 9rem) !important;
//     font-weight: 900 !important;
//     padding: clamp(1rem, 5vw, 2rem);
//     margin: 0;

//     &.second {
//         color: #fff;
//         max-width: clamp(300px, 55vw, 700px);
//         text-align: end;
//     }

//     @media (max-width: 690px) {
//         text-align: center !important;
//     }
// }

// Bottom lines
.intro-lines {
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 2rem;

    li button {
        font-size: 0;
        width: 100px;
        height: 8px;
        background-color: #fff;
        outline: none;
        border: transparent;
        cursor: pointer;
        margin: 0.5rem;
        transition: .3s;

        &:hover {
            background-color: #E87E7E;
        }
    }

    .slick-active button {
        background-color: #E87E7E;
    }
}