.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 0.5rem 2rem;
    position: relative;
    z-index: 99;

    @media (max-width: 890px) {
        justify-content: space-between;
    }

    @media (min-width: 1700px) {
        justify-content: space-around;
    }
}

.logo {
    width: 150px;
    height: 70px;

    @media (max-width: 490px) {
        width: 100px;
        height: 50px;
    }
}

.search,
.links {
    display: flex;
    align-items: center;
    gap: 1rem;

    @media (max-width: 890px) {
        display: none;
    }
}

.links {
    gap: 3rem;
}

// Duplicate
.input {
    font-family: inherit;
    font-size: clamp(1rem, 1vw, 1.5rem);
    width: clamp(256px, 25vw, 500px);
    color: #302B42;
    background-color: #d0d0d0;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 3.5rem 0.5rem 1rem;

    &:focus {
        &::placeholder {
            color: #939292;
        }
    }
}

.btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    color: #302B42;
    border: none;
    cursor: pointer;
    padding: 0 0.8rem;
    border-radius: 10px;
    position: absolute;
    right: 0;

    svg {
        width: 20px;
        height: 20px;
        fill: #302B42;
        transition: 0.2s;
    }

    &:hover,
    &:focus {
        svg {
            fill: #939292;
        }
    }
}

.search__link {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #939292;
    font-weight: 500;
    padding: 0.5rem;
    transition: 0.2s;

    &:hover {
        color: #302B42;
    }
}

.link__item {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #302B42;
    border-radius: 8px;
    padding: 0.5rem;
    transition: .2s;
    position: relative;

    &:hover {
        color: #939292;

        .cart__num {
            color: #302B42;
            transition: 0.3s;
            background-color: #fff;
        }
    }
}

.cart__logo {
    width: 35px;
    height: 35px;
    fill: #302B42;
    transition: 0.2s;
}

.cart__num {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    background-color: #E87E7E;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid #302B42;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.2;
    position: absolute;
    top: -5px;
    left: 25px;
}

.hamburger {
    width: 40px;
    height: 30px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    li {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background: #302B42;
        transition: 0.2s;
    }

    &:hover>li {
        background: #E87E7E;
    }

    @media (max-width: 890px) {
        display: flex;
    }
}