.sidedrawer {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    background: #fff;
    transform: translateY(-100%);
    transition: all 0.3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 199;

    &.show {
        transform: translateY(0);
    }

    @media (min-width: 890px) {
        display: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    gap: 2rem;
    border-top: 3px solid #302B42;
    border-bottom: 3px solid #302B42;
    padding: 1rem;
}