.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    width: 50%;
    height: fit-content;
    background: linear-gradient(221.87deg, #cecece 1%, #f1f1f1 128%);
    box-shadow: -8px 8px 16px 1px #cecece;
    border-top: 3px solid #cecece;
    border-right: 3px solid #cecece;
    padding: 1rem;

    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media(max-width: 690px) {
        width: 100%;
    }
}

.title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-transform: uppercase;
}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 700;
    color: #E87E7E;
}

.oldprice {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: 500;
    color: #939292;

    &.none {
        font-size: 0;
    }
}

.contains {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle {
    font-size: clamp(0.7rem, 0.7vw, 1rem);
    font-weight: 500;

    strong {
        text-transform: uppercase;
    }
}

.description {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #302B42;
    width: Min(100%, 800px);
    max-width: 1500px;
    letter-spacing: 0.1rem;
    margin-bottom: clamp(1.5rem, 3vw, 4rem);

    strong {
        display: block;
        letter-spacing: normal;
        margin-bottom: 0.25rem;
    }
}

.btn {
    font-family: 'Montserrat';
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    max-width: 300px;
    background: #302B42;
    color: #fff;
    border: 2px solid #302B42;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.3s;

    &.green {
        background: #A0E87E;
        color: #302B42;
    }

    &:hover,
    &:focus-visible {
        color: #302B42;
        background: #fff;
    }
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.select {
    font-family: 'Montserrat';
    font-size: clamp(0.8rem, 1vw, 1.3rem);
    font-weight: 700;
    width: clamp(50px, 3vw, 70px);
    background: #C4C4C4;
    color: #302B42;
    border-radius: 4px;
    border: 2px solid #939292;
    cursor: pointer;
    outline: none;
    padding: 0.25rem;
    transition: 0.3s;

    &:hover,
    &:focus-visible {
        border: 2px solid #302B42
    }
}