@import-normalize;

// == Font style:
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff2') format('woff2'),
        url('fonts/Montserrat-Italic.woff') format('woff'),
        url('fonts/Montserrat-Italic.ttf') format('truetype'),
        url('fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// == Main styles:
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #302B42;
    font-family: 'Montserrat';
    background: #f1f1f1;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

form {
    display: flex;
    position: relative;

    @media (max-width: 390px) {
        width: 100%;
    }
}

// == Used in:
// == Navbar | SideDrawer | Footer;
.logo {
    width: clamp(120px, 7vw, 155px);
    height: clamp(60px, 3vw, 75px);
}

// == Used in:
// == ProductScreen;
.btn {
    width: 100%;
    max-width: 300px;
    background-color: #C4C4C4;
    color: #302B42;

    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #302B42;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem;

    &.green {
        background-color: #A0E87E;
    }

    &:hover {
        color: #C4C4C4;
        background-color: #302B42
    }
}

// == Used in:
// == Navbar | SideDrawer | Digest;
.btn__badge {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    z-index: 9;

    svg {
        width: clamp(20px, 1vw, 30px);
        height: clamp(20px, 1vw, 30px);
        fill: #302B42;
        transition: 0.2s;
    }

    // == Digest:
    &.digest {
        padding: 0 1rem;
    }

    &:hover,
    &:focus-visible {
        svg {
            fill: #939292;
        }
    }
}

// == Used in:
// == Navbar | SideDrawer;
.link {
    font-size: clamp(1.2rem, 1vw, 1.5rem);
    font-weight: 700;
    text-transform: uppercase;
    color: #302B42;
    padding: 0.5rem;
    transition: 0.2s;

    &:hover,
    &:focus {
        color: #939292;
    }

    &.help {
        font-weight: 500;
        color: #939292;

        &:hover,
        &:focus-visible {
            color: #302B42;
        }
    }

    &.cart {
        color: #302B42;
        position: relative;

        &:hover,
        &:focus-visible {
            .qty {
                background-color: #fff;
                transition: 0.3s;
            }
        }
    }
}

// == Used in:
// == Navbar | SideDrawer;
.icon {
    width: clamp(35px, 2vw, 40px);
    height: clamp(35px, 2vw, 55px);
    fill: #302B42;
}

// == Used in:
// == Navbar | SideDrawer;
.qty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(35px, 2vw, 45px);
    width: clamp(35px, 2vw, 45px);
    background: #E87E7E;
    border: 2px solid #302B42;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30px;
}

// == Used in:
// == Navbar | SideDrawe | Digest;
.input {
    font-family: inherit;
    font-size: clamp(1rem, 1vw, 1.5rem);
    width: clamp(256px, 25vw, 500px);
    color: #302B42;
    background: #d0d0d0;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem 2.5rem 0.5rem 1rem;

    &:focus {
        &::placeholder {
            color: #939292;
        }
    }

    // == Digest: 
    &.digest {
        background: #fff;
        padding: 0.5rem 3.5rem 0.5rem 1rem;

        &:focus {
            &::placeholder {
                color: #E87E7E;
            }
        }
    }

    // == Need for everything classes; 
    @media (max-width: 390px) {
        width: 100%;
    }
}

// == Used in:
// == Product | ProductScreen;
.badge {
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: #E87E7E;
    color: #302B42;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    &.color_red {
        display: flex;
    }

    &.color_green {
        display: flex;
        background-color: #A0E87E;
    }
}

// == Used in:
// == HomeScreen | ProductScreen;
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        font-size: 1.5rem;
        border-radius: 100%;
        border: 3px dashed #302B42;
        animation-name: rotate;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes rotate {
        0% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(365deg) scale(1.2);
        }
    }
}

// == Used in:
// == Advantages | HomeScreen | Product | ProductScreen;
.title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    // == Used in:
    // == HomeScreen | LoginScreen:
    &.size_m {
        font-size: clamp(1.3rem, 1vw, 3rem);
        margin-bottom: 2rem;
    }

    // == Used in:
    // == ProductScreen | CartScreen:
    &.size_s {
        font-size: 0.7rem;
        font-weight: 500;
        text-align: left;
        color: #302B42;
        text-transform: inherit;

        strong {
            text-transform: uppercase;
        }
    }

    // == Advantages:
    &.advantages {
        font-size: clamp(0.7rem, 1vw, 1.5rem);
        font-weight: 500;
        margin-bottom: 0;

        @media (max-width: 880px) {
            font-size: 0;
        }
    }

    // == HomeScreen:
    &.home {
        font-weight: 700;
        margin-bottom: 2.5rem;
    }

    // == Product :
    &.product {
        font-size: clamp(1rem, 1vw, 1.2rem);
        text-align: left;
    }

    // == Comment :
    &.comment {
        font-size: clamp(0.7rem, 1vw, 1.5rem);
        text-align: left;
    }
}

// == Used in:
// == Digest | ProductScreen | Comment;
.description {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #fff;
    width: Min(100%, 800px);
    max-width: 1500px;

    @media (min-width: 1700px) {
        width: 100%;
    }

    // == ProductScreen:
    &.productScreen {
        color: #302B42;
        letter-spacing: 0.1rem;
        margin-bottom: clamp(1.5rem, 3vw, 4rem);

        strong {
            display: block;
            letter-spacing: normal;
            margin-bottom: 0.25rem;
        }
    }

    // == Comment:
    &.comment {
        color: #302B42;
        width: 100%;
    }
}

// == Used in:
// ==  Product;
.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 700;
    color: #E87E7E;
}

// == Used in:
// ==  Product;
.oldprice {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: 500;
    color: #939292;

    &.none {
        font-size: 0;
    }
}