@import-normalize;

// == Font style:
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff2') format('woff2'),
        url('fonts/Montserrat-Italic.woff') format('woff'),
        url('fonts/Montserrat-Italic.ttf') format('truetype'),
        url('fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

// == Main styles:
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #302B42;
    font-family: 'Montserrat';
    background: #f1f1f1;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

form {
    display: flex;
    position: relative;

    @media (max-width: 390px) {
        width: 100%;
    }
}

// == Used in:
// == ProductScreen;
.btn {
    width: 100%;
    max-width: 300px;
    background-color: #C4C4C4;
    color: #302B42;

    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #302B42;
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem;

    &.green {
        background-color: #A0E87E;
    }

    &:hover {
        color: #C4C4C4;
        background-color: #302B42
    }
}

// == Used in:
// ==  ProductScreen;
.badge {
    display: none;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    background-color: #E87E7E;
    color: #302B42;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    &.color_red {
        display: flex;
    }

    &.color_green {
        display: flex;
        background-color: #A0E87E;
    }
}

// == Used in:
// == HomeScreen | ProductScreen;
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        font-size: 1.5rem;
        border-radius: 100%;
        border: 3px dashed #302B42;
        animation-name: rotate;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes rotate {
        0% {
            transform: rotate(-15deg);
        }

        100% {
            transform: rotate(365deg) scale(1.2);
        }
    }
}

// == Used in:
// == Advantages | HomeScreen | ProductScreen;
.title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    // == Used in:
    // == HomeScreen | LoginScreen:
    &.size_m {
        font-size: clamp(1.3rem, 1vw, 3rem);
        margin-bottom: 2rem;
    }

    // == Used in:
    // == ProductScreen | CartScreen:
    &.size_s {
        font-size: 0.7rem;
        font-weight: 500;
        text-align: left;
        color: #302B42;
        text-transform: inherit;

        strong {
            text-transform: uppercase;
        }
    }

    // == HomeScreen:
    &.home {
        font-weight: 700;
        margin-bottom: 2.5rem;
    }
}

// == Used in:
// ==  ProductScreen ;
.description {
    font-size: clamp(1rem, 1vw, 1.5rem);
    color: #fff;
    width: Min(100%, 800px);
    max-width: 1500px;

    @media (min-width: 1700px) {
        width: 100%;
    }

    // == ProductScreen:
    &.productScreen {
        color: #302B42;
        letter-spacing: 0.1rem;
        margin-bottom: clamp(1.5rem, 3vw, 4rem);

        strong {
            display: block;
            letter-spacing: normal;
            margin-bottom: 0.25rem;
        }
    }

    // == Comment:
    &.comment {
        color: #302B42;
        width: 100%;
    }
}

// == Used in:
// ==  ProductScreen ;
.price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 700;
    color: #E87E7E;
}

// == Used in:
// == 
.oldprice {
    font-size: clamp(1rem, 1vw, 1.3rem);
    font-weight: 500;
    color: #939292;

    &.none {
        font-size: 0;
    }
}