* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #302B42;
    ;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

a {
    color: #302B42;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

form {
    width: 100%;
    flex: 0 0 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    cursor: pointer;
}

/* Default size a Button */
.btn {
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: Min(270px, 300px);
}

.btn__size_g {
    color: #302B42;
    background-color: #C4C4C4;
    margin-bottom: 1rem;
    transition: .5s;
}

.btn__size_g:hover {
    color: #C4C4C4;
    background-color: #302B42;
}

.btn__in-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A0E87E;
    transition: .5s;
}

.btn__in-cart:hover {
    color: #A0E87E;
    background-color: #302B42;
}

/* The Size Title */
.title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.title__size_m {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title__size_c {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* The Size Price */
.price {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.price__size_m {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* The Size Description */

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* The Size Images */
.product__img_size-s {
    width: 150px;
    height: 180px;
}

.product__img_size-m {
    width: 100%;
    object-fit: contain;
}

.product__img_size-b {
    box-shadow: 0 1px 4px rgb(0 0 0 / 40%);
    width: Min(40%, 500px);
    height: Min(auto, 550px);
}


/* Media query */
@media (max-width: 890px) {
    .btn__in-cart {
        margin: 0 auto;
    }
}