* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    color: #302B42;
    ;
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
}

a {
    color: #302B42;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}



form {
    width: 100%;
    flex: 0 0 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    cursor: pointer;
}

.btn {
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: Min(288px, 300px);
}

.title {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.title__size_m {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title__size_c {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.price__size_m {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1rem;
    margin-bottom: 1rem;
}