.intro {
    background: url("../../assets/intro_winter.jpg") no-repeat right;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: auto;
    border-bottom: 3px solid #fff;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid #302B42;
    border-bottom: none;
    width: 90%;
    max-width: 1200px;
    padding: 1rem;
}

.title {
    font-size: clamp(1.8rem, 2vw, 4rem);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    color: #302B42;

    &.size_s {
        font-size: clamp(1.3rem, 1vw, 3rem);
        margin-bottom: 1rem;
    }
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.login,
.registration {
    width: 100%;
    max-width: 370px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    height: auto;
    width: 100%;
}

.text {
    font-size: 1rem;
    font-weight: 500;

    span {
        font-size: 1.5rem;
        color: #E87E7E;
    }
}

.inner__hide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

.input {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    background: transparent;
    border: 3px solid #939292;
    border-radius: 3px;
    color: #302B42;
    outline: none;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    transition: border-color 0.2s;
    position: relative;
    z-index: 9;

    &[type=password] {
        font-weight: 900;
        letter-spacing: 2px;
        padding-right: 2rem;
    }

    &::placeholder {
        font-weight: 500;
        color: transparent;
    }

    &:focus {
        border-color: #E87E7E;
    }
}

.label {
    display: block;
    width: 100%;
    font-size: 0.7rem;
    font-weight: 500;
    color: #939292;
    padding: 0 0.5rem;
    margin-top: 0.3rem;
    padding-left: 10px;
    position: absolute;
    top: 0;
    transition: 0.2s;
}

.input:placeholder-shown~.label {
    font-size: 1rem;
    color: #939292;
    cursor: text;
    padding-left: 10px;
    top: 15px;
}

.input:focus~.label {
    display: block;
    font-size: 0.7rem;
    color: #E87E7E;
    transition: 0.2s;
    position: absolute;
    top: 0;
}

.btn__input {
    display: flex;
    align-items: center;
    background-color: transparent;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    z-index: 99;

    svg {
        width: 20px;
        height: 20px;
        fill: #939292;
        transition: 0.2s;
    }

    &:hover,
    &:focus {
        svg {
            fill: #cecece;
        }
    }
}

// .btn {
//     height: 40px;
//     background-color: #302B42;
//     font-size: 1rem;
//     font-weight: 700;
//     color: #fff;
//     margin: 0 auto;
//     transition: 0.3s;
//     text-transform: uppercase;
//     border: none;
//     cursor: pointer;
//     width: Min(270px, 300px);

//     &:hover {
//         background-color: #E87E7E;
//     }
// }

.btn {
    width: Min(100%, 320px);
    background-color: #302B42;
    color: #fff;

    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #302B42;
    cursor: pointer;
    transition: .3s;
    padding: 0.5rem 0;
    margin: 0 auto;

    &:hover {
        color: #302B42;
        background-color: #fff
    }

    @media (max-width: 390px) {}
}


.password {
    font-size: 0.7rem;
    font-weight: 500;
    color: #939292;
    font-style: italic;
    text-transform: uppercase;
    margin: 0 auto;
    transition: 0.2s;

    &:hover {
        color: #cecece;
    }

}


@media (max-width: 490px) {

    .login,
    .registration {
        width: 100%;
        padding: 0;
    }
}