.catalog-inner {
    padding: 1rem 0;
}

.catalog-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    padding: 3rem 0 6rem;
}

.catalog-categories {
    max-width: 300px;
    padding: 1rem;
}

.catalog-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 300px));
    gap: 20px;
    max-width: 85%;
    padding: 1rem;

    @media (max-width: 390px) {
        max-width: 100%;
    }
}