.loginscreen__intro {
    background: url("../../assets/intro.jpg") no-repeat right;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: auto;
}

.loginscreen__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 1rem;
    border: 5px solid #302B42;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.login,
.registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 5rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    height: auto;
}

.login__text {
    font-size: 1rem;
    font-weight: 500;
}

.login__text span {
    font-size: 1.5rem;
    color: #E87E7E;
}

.input__loginscreen {
    width: 100%;
    max-width: 350px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 4px solid #ccc;
}


.input__loginscreen:focus {
    border: 2px solid #939292;
}

.input__loginscreen:nth-child(8) {
    margin-bottom: 1.5rem;
}

.btn__login {
    height: 40px;
    background-color: #302B42;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    transition: 0.3s;
}

.btn__login:hover {
    background-color: #E87E7E;
}

.password__inner {
    display: flex;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

.reset__password {
    font-size: 0.5rem;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    transition: 0.3s;
}

.reset__password:hover {
    color: #E87E7E;
}

@media (max-width: 490px) {

    .login,
    .registration {
        width: 100%;
        padding: 0;
    }

    .login__wrapper {
        width: 100%;
    }
}